<div class="container-fluid">

    <h4>This is a version of <strong class="text-danger">angular-phonecat</strong> made by <a href="https://github.com/antonio-spinelli/angular-phonecat" target="_blank">Antonio Spinelli</a>.</h4>

    <br/>

    <h4>List of changes:</h4>
    <ul>
      <li>Using <strong class="text-danger">ui-router</strong> instead of <strong class="text-danger">angular-route</strong></li>
      <li>Using a controller for switch the "active" state of the navigation tabs</li>
    </ul>

    <br/>

    <h4>TODO list:</h4>
    <ul>
        <li>Improved search filters</li>
        <li>Using the <strong class="text-danger">angular-translate</strong> for a multilanguage application</li>
        <li>Using the <strong class="text-danger">bindonce</strong> for less watch in data list</li>
    </ul>

</div>
